@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

* {
    box-sizing: border-box;
  }

body{
    font-family: 'Lora', serif;
}

h1#Nomenav {
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(195, 190, 190);
  }

li {
    display: inline;
    float: right;
  }

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: rgba(72, 70, 70, 0.314);
  }
a{
    text-decoration: none;
}

div#NomeTitulo{
    text-align: initial;
    margin-top: 90px;
    
}

div#Foto{
    text-align: center
}
div#Foto > img{
    width: 25%;
    border-radius: 30%
    
}